.site-footer {
   border-top: 1px solid var(--border-color);
   padding-top: 40px;
}

.footer-row {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: var(--gap);
   margin-bottom: 30px;
}

.footer-column {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.footer-menu {
   padding: 0;
   list-style: none;
}

.footer-menu-2 {
   text-align: end;
}

.footer-menu .menu-item {
   margin-bottom: 5px;
}

.work-hours {
}

.footer-column .social-icons {
   justify-content: center;
}

.contact-info a {
   display: block;
   text-align: center;
   margin-bottom: 8px;
}

.location-map {
   grid-column: span 2 / span 2;
   position: relative;
   overflow: hidden;
   border-radius: var(--border-radius);
}

.location-address {
   grid-column: span 2 / span 2;
   grid-row-start: 2;
   text-align: center;
}

.med-info {
   text-align: center;
}

@media (min-width: 640px) {
   /* .footer-row {
      display: grid;
      grid-template-columns: 2fr;
      gap: 20px;
      margin-bottom: 30px;
   } */
}

@media (min-width: 768px) {
   .footer-row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
   }
   .location-map {
      grid-column: span 3;
   }
   .location-address {
      grid-column-start: 4;
      grid-row-start: auto;
   }
}

/* @media (min-width: 576px) {
   .footer-row:first-child,
   .footer-row:last-child {
      grid-template-columns: 1fr 1fr;
   }
}

@media (min-width: 768px) {
   .footer-row:first-child {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .footer-row:last-child {
      grid-template-columns: 1fr 1fr 1fr;
   }
} */
