*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   -webkit-text-size-adjust: 100%;
   scroll-behavior: smooth;
   overflow-y: scroll;
}

body {
   font-family: var(--font-family-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif);
   font-size: var(--font-size-base, 16px);
   line-height: var(--line-height-base, 1.2);
   color: var(--color-text, #414141);
   background-color: var(--color-bg, #ffffff);
   min-height: 100vh;
   font-weight: 400;
   margin: 0;
}

*:focus:not(:focus-visible) {
   outline: none;
}

a {
   color: var(--color-link);
   text-decoration: none;
}

a:hover,
a:focus {
}

img,
picture,
svg {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   display: block;
}

button {
   border-width: 1px;
   border-color: var(--color-text);
}

button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1.15;
   margin: 0;
}

button,
input {
   overflow: visible;
}

button,
select {
   text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
}

p {
   padding-bottom: 0.5rem;
}
ul,
ol {
   padding-left: 2rem;
}

blockquote {
   background-color: aquamarine;
   padding: 0.5rem;
   margin: 0.5rem;
}

table {
   border-collapse: collapse;
   width: 100%;
}
