@font-face {
   font-family: "Muller";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("../../fonts/muller-regular.woff2") format("woff2");
}

@font-face {
   font-family: "Corporate A Pro";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
   src: url("../../fonts/corporate-a-pro-regular.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Corporate A Pro";
   font-weight: 400;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 1rem;
}

h1 {
   font-size: clamp(2rem, 5vw, 3.6rem);
}

h2 {
   font-size: clamp(2rem, 4.5vw, 3.2rem);
}

h3 {
   font-size: clamp(1.8rem, 4vw, 2.8rem);
}

h4 {
   font-size: clamp(1.6rem, 3.5vw, 2.4rem);
}

h5 {
   font-size: clamp(1.4rem, 3vw, 2rem);
}

h6 {
   font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}
