.hero {
   position: relative;
}

.hero__bg {
   width: 100%;
   object-fit: cover;
   position: relative;
}

.hero__heading {
   position: absolute;
   top: -12px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.hero__title {
   font-size: 26px;
   margin-bottom: 0;
}

.hero__subtitle {
   font-size: 26px;
   margin-bottom: 0;
}

.hero__description {
   margin: var(--gap) 0;
   line-height: 1.5;
}

.hero__booking {
   position: absolute;
   bottom: 2%;
   left: 5%;
}

.hero__btn-booking-modal {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
   width: fit-content;
   margin: 0 auto;
   color: white;
}

.hero__booking-icon-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 70%;
   aspect-ratio: 1 / 1;
   border: 1px solid currentColor;
   border-radius: 50%;
   padding: 8px;
}

.hero__booking-icon {
   width: 36px;
   height: auto;
   font-size: 36px;
   fill: none;
}

.hero__booking-text {
   margin-top: 8px;
   font-size: 1rem;
   line-height: 1.2;
   text-align: center;
}

@media (min-width: 768px) {
   .hero__title {
      font-size: 36px;
   }

   .hero__subtitle {
      font-size: 36px;
   }

   .hero__description {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45%;
      font-size: 18px;
      line-height: 1;
   }

   .hero__booking {
      bottom: 5rem;
      left: 1rem;
   }
}

@media (min-width: 1360px) {
   .hero__title {
      font-size: 74px;
   }

   .hero__subtitle {
      font-size: 74px;
   }

   .hero__description {
      bottom: 130px;
      font-size: 23px;
      line-height: 1.1;
   }

   .hero__booking {
      bottom: 9rem;
      left: 3rem;
   }
}
