.mobile-menu-toggle {
   width: 30px;
   height: 24px;
   background: transparent;
   border: none;
   cursor: pointer;
}

.main-navigation {
   position: relative;
}

.main-navigation .main-menu {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   gap: var(--gap);
}

.menu-more-btn {
   background: none;
   border: none;
   display: none;
}

.has-extra-menu .menu-more-btn {
   display: inline-block;
}

.main-menu--extra {
   display: none;
   flex-direction: column;
   margin-top: 0.5rem;
   background-color: white;
   list-style: none;
   padding: 1rem;
   right: 0;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.main-menu--extra li {
   margin-bottom: 10px;
}

.has-extra-menu .main-menu--extra.expanded {
   position: absolute;
   display: flex; /* Показывается при клике на .menu-more-btn */
}

/* --- Мобильное меню --- */
.mobile-menu-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.mobile-menu-list a {
   color: var(--color-text);
   text-decoration: none;
   font-size: 1.125rem;
   font-weight: 500;
}

.mobile-menu-footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: var(--gap);
   margin-top: 1rem;
   padding-top: 1rem;
   border-top: 1px solid var(--border-color);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
   .mobile-menu-toggle {
      display: none;
   }
}

@media (min-width: 1280px) {
}
